doctype html
html
  head
    title="Join My List"
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    nav
      a(href="/") Home | 
      a(href="/settings") Settings | 
      a(href="/followers") Invite | 
      a(href="/subscribers") Subscribers
    block content
