body {
  font: 14px;
}

a {
  color: #00B7FF;
}

nav>a {
  padding-top: 12px;
  display: inline-block;
}
.socialbuttonholder {
  white-space: nowrap;
  width: 100%;
}
.socialbutton {
  margin-right: 12px;
  display: inline-block;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: auto;
}
